.agent-skills/

*.pyc
.ruff_cache/

.browser/
.blob/
/.m*data/
.pg/
.valkey/

*-secret.yaml

db_data/

node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.tmp/

*.png
*.patch

.claude/
.claude
