[submodule "agent-skills"]
	path = .agent-skills
	url = ../agent-skills

[submodule ".lattice-ql"]
	path = .lattice-ql
	url = ../LatticeQL

[submodule "lattice-cast-ts"]
	path = .lattice-cast-ts
	url = ../lattice-cast
